<a href="https://colab.research.google.com/github/MarthaNH/Data-Science/blob/main/Ejercicio1Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1.

i. Crear la serie A serie con:

-índices: letras del abecedario ordenadas (investigar función que genere la lista) 

-valores: números enteros comenzando en 10, odenados de forma creciente y paso de 1

ii. Crear la serie B serie con:

-índices: números enteros comenzando en 10, odenados de forma creciente y paso de 1

-valores: letras del abecedario con orden inverso (z, y, x, w ...)

iii. Seleccionar de cada una de las series los elementos con índice o valor entre d:i

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ab=list(string.ascii_lowercase)
num= np.arange(10,36,1)

A= pd.Series(num, ab)
print(A)

a    10
b    11
c    12
d    13
e    14
f    15
g    16
h    17
i    18
j    19
k    20
l    21
m    22
n    23
o    24
p    25
q    26
r    27
s    28
t    29
u    30
v    31
w    32
x    33
y    34
z    35
dtype: int64

In [ ]:
A[3]

13

In [ ]:

ab=list(string.ascii_lowercase)
num= np.arange(10,36,1)
ab2=(ab[::-1])
B=pd.Series(ab2,num)
print(B)

10    z
11    y
12    x
13    w
14    v
15    u
16    t
17    s
18    r
19    q
20    p
21    o
22    n
23    m
24    l
25    k
26    j
27    i
28    h
29    g
30    f
31    e
32    d
33    c
34    b
35    a
dtype: object

In [ ]:
A['d':'i']

d    13
e    14
f    15
g    16
h    17
i    18
dtype: int64

In [ ]:
B[B.isin(['d','e', 'f','g','h', 'i'])]

27    i
28    h
29    g
30    f
31    e
32    d
dtype: object